<%- include('../partials/_header.ejs') %>
    <title><%= game._id %></title>
  </head>
  <%- include('../partials/_nav.ejs') %>
  <body>
  <div id="show">
    <h1>User: <%= user.username %>. Game ID: <%= game._id %></h1>
    <div class="show-players">
        <h2>Players:</h2>
            <ol>
            <% game.players.forEach((player) => { %>    
                <li><%= player.name %> (Score: <%= player.score %>)</li> 
            <% }); %>
            </ol>
    </div>
        <% if (game.enjoyability) { %>
        <div class="show-enjoyability">
            <h3>Enjoyability rating:   <%= game.enjoyability %></h3>
        </div>
        <% }; %>
    <div class="show-kingdom">
        <h2>Kingdom:</h2>
        <ol>
            <% game.kingdom.forEach((object) => { %>
                <li><%= object.card.name %></li>
            <% }); %>
        </ol>
    </div>
    <br>
    <div class="footer">
    <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
      <button type="submit" class="button" id="danger">Delete Game ID <%= game._id %></button>
    </form>
    <a href="/games/<%= game._id %>/edit">Edit Game ID <%= game._id %></a>
    <a href="/games">Back to Game Record Index</a>
    </div>
</div>
  </body>
</html>