<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= game._id %></title>
  </head>
  <body>
    <h1>User: <%= user.username %>. Game ID: <%= game._id %></h1>
    <div>
        <h2>Players:</h2>
            <ol>
            <% game.players.forEach((player) => { %>    
                <li><%= player.name %> (Score: <%= player.score %>)</li> 
            <% }); %>
            </ol>
    </div>
        <% if (game.enjoyability) { %>
        <div>
            <p>Enjoyability rating: <%= game.enjoyability %></p>
        </div>
        <% }; %>
    <div>
        <h2>Kingdom:</h2>
        <ol>
            <% game.kingdom.forEach((object) => { %>
                <li><%= object.card.name %></li>
            <% }); %>
        </ol>
    </div>
    <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete Game ID <%= game._id %></button>
    </form>
    <a href="/games/<%= game._id %>/edit">Edit Game ID <%= game._id %></a>
    <a href="/games">Back to Game Record Index</a>
  </body>
</html>